@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: auto;
    background-color:#FFB200;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title{
    width: 50%;
    height: auto;
    font-size: 3em;
    font-family: "Black Ops One", system-ui; 
    color: #973131;
    text-align: center;
}


body{
    width: 100%;
    height: auto;
    background-image: url(./Images/wp3486337-woodland-camouflage-wallpaper-hd.png);
    background-repeat: no-repeat;
    background-size: cover;

}


main{
    margin-top: 15px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
   
}


.section1{   
    width: 50%;
    height: 80%;
    /* border: solid 2px white; */
    display: flex;
    justify-content: center;
    align-items: center;  
}


form{
    width: 50%;
    height: 100%;
    display: grid;
    
}


.section1 input{
    width:60%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 3em;
    border:solid 2px white;
    border-radius: 10px;
}

label{
    text-align: left;
    font-size: 1.5em;
    color:#FF1700;
    font-family: "SUSE", sans-serif;
    font-weight: bolder;
    text-shadow: 0px 0px 10px white ;
}


.section2{   
    width: 50%;
    height: 80%;
    /* border: solid 2px white; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.total-time{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-display{
    width: 60%;
    height: 100px;
    border: solid 2px white;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-size: 4.5em; 
}

.total-time label{
    font-size: 3em; 
}


.total-rounds{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.n-rounds{
    width: 35%;
    height: 100px;
    border: solid 2px white;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-size: 4.5em; 
}

.total-rounds label{
    font-size: 3em; 
}


.section3{   
    width: 100%;
    height: auto;
    /* border: solid 2px white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}


.section3 button{
    width: 250px;
    height: 100px;
    border: solid 2 px black;
    border-radius: 10px;
    background-color: white;
    font-size: 1.5em;
    font-family: "SUSE", sans-serif;
    font-weight: bold;
}


button:hover{
    color: #FF1700;
}


footer{
    width: 100%;
    height: 125px;
    margin-top: 15px;
    padding: 10px;
    background-color: #FFB200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.copy-right{
    width: 150px;
    height: 75%;
    border: solid 2px white;
}

.copy-right p{
    text-align: center;
    padding: 2px;

}

.design-by{
    width: 150px;
    height: 75%;
}


.design-by img{
    width: 100%;
    height: auto;
}